<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/images/logo.jpeg" />
    </div>
    <div class="links">
        <ul>
            <li> 
                <a routerLink="/"> <i class="pi pi-home"></i> Dashboard</a> 
            </li>
            <li> 
                <a routerLink="/products"> <i class="pi pi-list"></i> Products</a> 
            </li>
            <li> 
                <a routerLink="/categories"> <i class="pi pi-check"></i> Categories</a> 
            </li>
            <li> 
                <a routerLink="/orders"> <i class="pi pi-shopping-cart"></i> Orders</a> 
            </li>
            <li> 
                <a routerLink="/users"> <i class="pi pi-users"></i> Users</a> 
            </li>
            <li> 
                <a class="logout" (click)="_auth.logout()"> <i class="pi pi-sign-out"></i> Logout</a> 
            </li>
        </ul>
    </div>
</div>
