.admin {
    &-wrapper {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    &-main-content {
        width: calc(100% - 180px);
        margin-left: 180px;
    }

    &-sidebar {
        position: fixed;
        width: 180px;
        background-color: black;
        height: 100%;
        top: 0;
        .logo {
            padding: 10%;
            width: 100%;
            img {
                border-radius: 10px;
                max-width: 100%;
            }
        }

        .links {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: block;
                    list-style: none;
                    width: 100%;
                    a {
                        color: white;
                        display: block;
                        padding: 10px 15px;
                        width: 100%;
                        &:hover {
                            background-color: var(--blue-700);
                        }

                        i {
                            margin-right: 8px;
                        }
                        &.logout {
                            color: var(--blue-500);
                        }
                    }
                }
            }
            
        }
    }
    &-page {
        padding: 15px;
    }
}